In [146]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [147]:
df = pd.read_csv('ex1data2.txt',header = None)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 3 columns):
0    47 non-null int64
1    47 non-null int64
2    47 non-null int64
dtypes: int64(3)
memory usage: 1.2 KB

In [148]:
# X : Size of house, number of bedrooms
# Y : Price of the House
df.head()

      0  1       2
0  2104  3  399900
1  1600  3  329900
2  2400  3  369000
3  1416  2  232000
4  3000  4  539900

In [149]:
X = df.iloc[:,:2]
Y = df.iloc[:,2]
X_norm = pd.DataFrame(0, index = np.arange(X.shape[0]), columns = np.arange(X.shape[1]))

In [150]:
Y = Y[:,np.newaxis]
x_std = np.std(X)
x_mean = np.mean(X)
for i in range(2):
    X_norm[i] = (X[i] - x_mean[i])/x_std[i]

In [151]:
X_norm.head()
X_norm.shape[0]

47

In [152]:
X_norm = np.column_stack((np.ones((X_norm.shape[0],1)),X_norm))

In [153]:
m=X_norm.shape[0]
n=X_norm.shape[1]
theta = np.zeros((n,1))
alpha = 0.18
iterations = 100

In [154]:
def CostFunction(X_norm,y,theta):
    hof = X_norm @ theta
    diff = hof - y
    diff = np.power(diff,2)
    return (np.sum(diff))/(2*m)

In [167]:
def GradientDescent(X_norm,y,theta):
    hx = (X_norm @ theta) - y
    temp = theta
    # Using Vectorization
    temp = theta - ((alpha/m) * sum(X_norm * hx))
    return temp

In [185]:
for i in range(1000):
     theta = GradientDescent(X_norm,Y,theta)

In [186]:
theta.min(1)

array([340408.39150509, 109428.40132356,  -6567.49420843])

In [187]:
area = (1650 - x_mean[0])/x_std[0]
br = (3 - x_mean[1])/x_std[1]
print([1,area,br] @ theta.min(1))

293083.39183138096

In [203]:
# Normal Equation
A = np.linalg.inv(X_norm.T @ X_norm)
B= X_norm.T @ Y
thetano=A @ B
print([1,area,br]@thetano)

[293081.4643349]